package components

templ Navigation() {
  <nav>
    <div class="content">
      <a class="logo" href="/">Goos van den Bekerom</a>
      <ul>
        <li><a href="/experience">Experience</a></li>
      </ul>
    </div>
  </nav>
}