package components

import (
  "github.com/goosvandenbekerom/website/data/models"
)

templ Profile(profile models.Profile) {
    <div class="content">
      <h1 class="page-title">{ profile.Name }</h1>
      <p>(TODO: Job Title) - { profile.Email } - { profile.DateOfBirth.Format("02-01-2006") }</p>
    </div>
}
