package pages

import (
	"github.com/goosvandenbekerom/website/data/models"
  "github.com/goosvandenbekerom/website/web/internal/templates/components"
  "github.com/goosvandenbekerom/website/web/internal/templates/shared"
)

templ Experience(experiences []models.Experience) {
	@shared.Page("Experience") {
		@components.Navigation()

	  <div class="content">
      <h1 class="page-title">Experience</h1>
      for _, experience := range experiences {
        <div class="experience-block">
          <div class="experience-time">{ experience.TimeFrom } - { experience.TimeTo }</div>
          <div class="experience-content">
            <div class="experience-title">{ experience.Company }</div>
            <div class="experience-subtitle">{ experience.JobTitle }</div>
            <div class="experience-description">{ experience.Description }</div>
            <ul class="experience-keywords">
              for _, keyword := range experience.Keywords {
                <li class="experience-keyword">{ keyword }</li>
              }
            </ul>
          </div>
        </div>
      }
    </div>

    @components.Footer()
	}
}