package pages

import (
	"github.com/goosvandenbekerom/website/data/models"
  "github.com/goosvandenbekerom/website/web/internal/templates/components"
  "github.com/goosvandenbekerom/website/web/internal/templates/shared"
)

templ Home(profile models.Profile) {
	@shared.Page("Home") {
		@components.Navigation()
		@components.Profile(profile)
    @components.Footer()
	}
}